html {
  overflow: hidden;
}

p {
  font-family: "Rubik", sans-serif;
  color: hsl(0, 0%, 59%);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.grid-item-content {
  color: hsl(0, 0%, 17%);
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 0 20px;
}
#map {
  height: 65vh;
}

#getMap {
  height: 65vh;
  display: none;
}

.first {
  height: 35vh;
  background-image: url("./project-images/pattern-bg.png");
  background-position: cover;
}

.inputs {
  margin-top: 7vh;
  margin-bottom: 5vh;
}

.output {
  z-index: 999;
}

.hidden {
  display: none;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.refresh {
  width: 250px;
  height: 80px;
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  background-color: rgb(49, 26, 151);
  color: lightblue;
}

.row {
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 1px 250px 1px 250px 1px 250px;
  grid-template-rows: 25vh;
  z-index: 999;
}

.grid-item {
  background-color: white;
}

.grid-item-header {
  margin: 20px 0 0 20px;
}

.grid-item-first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.grid-item-last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.vl {
  margin-top: 30px;
  border-left: 1px solid rgb(172, 170, 170);
  height: 60px;
  z-index: 9999;
}
